@{
    ViewData["Title"] = "Profile";
}

@model firstmvcproject.Models.DataTransferModels.HomeIndexView


<div class="d-4">
    <br />
    <h4>hello, @Model.UserProfile.display_name.</h4>

@*    <div>
        <img src="@Url.Content(Model.UserProfile.images[0].url)" alt="Profile Image"
             style="height=200px;
            width:200px;
            border-radius:50%;" />
    </div>*@

    <div>
        <h4>what's on your radar?</h4>
    </div>

    <h5>your top songs consist of @Model.TotalGenres total genres.</h5>

@*    <h5>here are all of your top genres:</h5>
    <table>
        <tbody>
            @foreach (string gen in Model.AllGenres)
            {
                <tr>
                    <td>@gen</td>
                </tr>
            }
        </tbody>
    </table>*@

@*    <div>
        <h5>your top 10 tracks</h5>
        <table>
            <tbody>
                @for (int i=0; i < 10; i++)
                {
                    <tr>
                        <td>@Model.UserTopTracks.items[i].name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
    
    @if (Model.FilteredTracks != null)
    {
        <div>
            <h5>your filtered tracks</h5>
            <table>
                <tbody>
                    @foreach (string genre in Model.FilteredTracks.GetKeys())
                    {
                        @*foreach (string trackName in Model.FilteredTracks.GetValues(genre))
                {
                <tr>
                <td>@trackName</td>
                </tr>
                }*@
                        List<object> trackNames = Model.FilteredTracks.GetValues(genre);
                        for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>@trackNames[i]</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    
  
</div>

@*search for which genre to exclude with a checkbox list*@
<div class="d-4">
    <h4>create a playlist of your favorite tracks, filtered by genre</h4>

    <form asp-action="FilterByGenre" asp-controller="Home" method="post">
        @foreach (var genre in Model.AllGenres)
        {
            <div>
                <input type="checkbox" name="selectedGenres" value="@genre" />
                <label>@genre</label>
            </div>
        }

        <button class="btn-login" type="submit">Submit</button>
    </form>
</div>